.card__info{
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.card__info:hover{
  opacity: 0.8;
  transition: all 1s ease;
}
